name: SonarQube
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main

jobs:
  build-and-analyze:
    name: Build and analyze
    runs-on: ubuntu-latest
    # SKIP this job if the trigger was a direct push to main (i.e., a merge commit)
    if: github.event_name != 'push'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'zulu'
      - name: Cache SonarQube packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Build and analyze
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew build sonar --info
      - name: Upload HTML Test Reports (PR)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: HTML-Test-Reports-PR
          path: build/reports/tests/test
          retention-days: 5


  build-docker-images:
    name: Build and push Docker images
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    # When a PR merges, it triggers the 'push' event on 'main'
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.sha }}
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: graalvm
          cache: gradle
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true
          platforms: linux/amd64,linux/arm64
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set Lowercase GitHub Owner Env Var
        run: |
          REPO_OWNER="${{ github.repository_owner }}"
          lowercase_owner=$(echo "${REPO_OWNER}" | tr '[:upper:]' '[:lower:]')
          echo "LOWERCASE_OWNER=${lowercase_owner}" >> $GITHUB_ENV
          echo "GitHub Owner '${REPO_OWNER}' converted to lowercase: '${lowercase_owner}'"

      - name: Build and push multi-arch image
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          QUARKUS_CONTAINER_IMAGE_BUILD: true
          QUARKUS_CONTAINER_IMAGE_PUSH: true
          QUARKUS_CONTAINER_IMAGE_REGISTRY: ghcr.io
          QUARKUS_DOCKER_BUILDX_PLATFORM: "linux/amd64,linux/arm64"
          QUARKUS_CONTAINER_IMAGE_IMAGE: "ghcr.io/${{ env.LOWERCASE_OWNER }}/${{ github.event.repository.name }}:${{ github.sha }}"
          JAVA_TOOL_OPTIONS: "-Djava.util.logging.manager=org.jboss.logmanager.LogManager -Dorg.jboss.logging.level=DEBUG"
        run: |
          ./gradlew build --info
      - name: Upload HTML Test Reports (Merge)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: HTML-Test-Reports-Merge
          path: build/reports/tests/test
          retention-days: 5